.App {
  text-align: center;
}

.logo_text {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 6vmin;
  : 2vmin;
  pointer-events: none;
}

.disclaimer {
  opacity: 40%;
  font-size: calc(10px + 2vmin);
  position: absolute;
  font-weight: bold;
  right: 1vw;
  top: 1vh;
}

.logo {
  height: 8vmin;
  padding-right:2vmin;
  : 2vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.qr-code {
  background-color: white;
  width: 400px;
  height: 400px;

}

.qr-code img {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222222;
}

.instructions {
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;

}

.App-link {
  color: #222222;
}

.connection-page .main-text {
  padding: 20px 100px;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
